body {
  margin: 0;
  padding: 0;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.img-logo{
    margin: 2px;
    width: 100px;
    height: 70px;
    border-radius: 10px;
}
h2, p {
  margin: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

ul li {
  float: left;
}

ul li a {
    margin: 0.5em 0em;
  display: block;
  position: relative;
  text-align: center;
  padding: 14px 16px;
}


a{
    color: #996633;
}

#nav-cv{
    color: #004b91;
    text-decoration: none;
}

#borde-left{
border-left: 1px solid #DDD;
}
.text-shop{
    margin-top: 1px solid #DDD;
    margin: 2px;
    padding: 5px;
    font-size: 12px;
}
.text-size{
font-size:15px ;
}
.nav-busqueda{
  display: flex;
  gap: 20px; /* Espacio entre las cajas */
  border-top: 1px solid #DDD;
}
.barra-busqueda{
    display: flex;
    flex-direction: row;
}
label{
    font-weight: bold;
}
input{
    height: 25px;
    border-radius: 5px;
    border-right: none;
}
.text-shop, .barra-busqueda {
  padding: 20px;
}
.button-search{
    height: 30px;
  background-color: #555555;
  border-radius: 5px;
  color: white;
  padding: 5px 10px;
  font-size: 15px;
  cursor: pointer;
  font-weight: bold;
}
.text-account{
    margin-left: 15px;
}
.color-company{
    color: #996633;
    font-size: 15px;
}
